/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  /* --responsive-title-color: limegreen; */
  /* --responsive-days-color: greenyellow; */
  /* --responsive-habits-div-color: #ececec; */
  /* --responsive-habit-name-color: lightcoral;
  --responsive-habit-progress-color: lightpink; */
  /* --responsive-credits-color: lightskyblue; */
  --responsive-notes-color: lightcyan;
  --responsive-notes-color: white;

  --column-width: 30vw 70vw;
  --header-font-size: 2rem;
  --header2-font-size: 1.5rem;
  --header-font-family: "Sansita", sans-serif;
  --header2-font-family: "Roboto", sans-serif;
  --default-opacity: 30%;
  --darker-opacity: 40%;

  --grid-padding-left: 2rem;

  --default-size: 60px;
  --default-size-mobile: 35px;
  /* --default-margin: 10px; */
  --default-gap: 20px;

  --form-default-font-size: 20px;

  --default-border: 1px solid #dee2e6;

  --max-box-size: 400px;

  --main-color0: #f3f0ff;
  --main-color1: #e5dbff;
  --main-color2: #d0bfff;
  --main-color3: #b197fc;
  --main-color4: #9775fa;
  --main-color5: #845ef7;
  --main-color6: #7950f2;
  --main-color7: #7048e8;
  --main-color8: #7048e8;
  --main-color9: #5f3dc4;

  --gray-color0: #f8f9fa;
  --gray-color1: #f1f3f5;
  --gray-color2: #e9ecef;
  --gray-color3: #dee2e6;
  --gray-color4: #ced4da;
  --gray-color5: #adb5bd;
  --gray-color6: #868e96;
  --gray-color7: #495057;
  --gray-color8: #343a40;
  --gray-color9: #212529;

  --box-shadow-color: #21252934;
}

* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-image: url(images/paper.jpg); */
}

h1 {
  height: var(--header-font-size);
  font-family: var(--header-font-family);
  display: inline-block;
}

h2 {
  height: var(--header2-font-size);
  font-family: var(--header-font-family);
  display: inline-block;
}
p {
  font-family: var(--header2-font-family);
}

a:link,
a:visited {
  color: var(--gray-color6);
}
a:link:hover,
a:visited:hover {
  color: var(--main-color7);
}

.grid-container {
  display: grid;
  grid-template-columns: var(--column-width);
  grid-template-rows: 15vh 70vh 15vh;
  grid-template-areas:
    "title days"
    "habits-div habits-div"
    "credits notes";
}

.icon {
  margin: 0.5rem;
  /* margin-top: auto;
  margin-bottom: auto; */
  font-size: 25px;
  color: var(--main-color4);
}
.icon:hover,
.icon:active {
  color: var(--main-color9);
}

.icon-h2 {
  font-size: 1.3rem;
}

.close-window-x {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*============== RESPONSIVE DESIGN============== */

.title {
  background-color: var(--responsive-title-color);
  grid-area: title;
  padding-left: var(--grid-padding-left);
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: white;
}
.days {
  grid-area: days;
  align-items: center;
  overflow: clip;
  display: flex;
  z-index: 1;
  gap: 20px;
}
.header-shaddow {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: white;
  z-index: 0;
  filter: drop-shadow(0 5px 5px var(--gray-color3));
}
.footer-shaddow {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  background-color: white;
  filter: drop-shadow(0 -5px 5px var(--gray-color3));
}

.habits-div {
  background-color: var(--gray-color1);
  display: grid;
  overflow: clip scroll;
  grid-template-columns: var(--column-width);
  padding-top: 20px;
  grid-auto-rows: 90px;
  grid-area: habits-div;
}

.credits {
  background-color: var(--responsive-credits-color);
  grid-area: credits;
  padding-left: var(--grid-padding-left);
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;
}
.notes {
  background-color: var(--responsive-notes-color);
  grid-area: notes;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
}
.note:hover {
  opacity: 60%;
}

/*============== Header ============== */
.header-icon {
  height: var(--header-font-size);
}

.title-h1 {
  position: relative;
  bottom: 5px;
  color: var(--gray-color8);
}

/*============== Habit Name ============== */
.habit-name {
  background-color: var(--responsive-habit-name-color);
  padding-left: var(--grid-padding-left);
  font-family: var(--header2-font-family);
  color: var(--gray-color8);
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-bottom: 1px solid var(--gray-color5);
}

.habit-h2 {
  font-family: var(--header2-font-family);
  font-size: var(--header2-font-size);
}

/*============== Habit progress ============== */

.habit-progress {
  background-color: var(--responsive-habit-progress-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--gray-color5);
}

.circle {
  display: inline-block;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  border: 1px solid var(--gray-color6);
}
.circle:hover {
  border-color: var(--gray-color9);
}

/*============== Days ============== */
.day {
  text-align: center;
  width: var(--default-size);
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 70%;
}

.day-h1 {
  font-family: var(--header2-font-family);
  color: var(--gray-color8);
  display: block;
  width: auto;
  margin: auto;
}
.weekday {
  color: var(--gray-color5);
}

.divider-days-weeks {
  width: 90%;
  margin-bottom: 0.5rem;
  border-bottom: solid 2px var(--main-color4);
}

/*============== Notes ============== */
.view-icon {
  width: var(--default-size);
  height: var(--default-size);
  /* margin: 10px; */
  flex-shrink: 0;
}
.note {
  display: inline-block;
  opacity: var(--default-opacity);
}

/*============== Credits ============== */
.credits-font {
  color: var(--gray-color6);
  font-size: 12px;
}

/* =========== Add Goal ================ */
.add-goal-box {
  /* 18 / 20 / 24 */
  font-size: var(--form-default-font-size);
  background-color: white;
  position: absolute;
  top: 100%;
  left: 40px;
  /* will change to grid */
  display: none;
  flex-direction: column;
  width: 100vw;
  /* gap: 15px; */
  padding: 20px;
  min-height: 200px;
  max-width: var(--max-box-size);
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.096);
}
.add-goal-title {
  font-size: 16px;
  grid-area: title;
}

.habit-name input::placeholder,
.habit-name textarea::placeholder {
  color: var(--gray-color7);
}

.add-goal-description {
  font-size: 16px;
  resize: none;
  font-family: var(--header2-font-family);
  grid-area: description;
}
.add-goal-main-header {
  grid-area: "main-header";
  font-weight: 600;
  height: auto;
}

.add-goal-left-container {
  grid-area: add-goal-left-container;
  display: grid;
  grid-template-areas: "main-header" "title-name" "title" "description-name" "description";
  grid-template-rows: auto auto 1fr;
}
.title-name {
  grid-area: "title-name";
}
.description-name {
  grid-area: "description-name";
}
.add-goal-right-container {
  grid-area: add-goal-right-container;
}
.form-subheader {
  font-size: 16px;
  margin: 15px 0 5px;
}

.add-goal-amount-header {
  font-weight: 600;
  margin-bottom: 10px;
}
.add-goal-amount-unit {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
}
.unit-amount {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.unit-amount input {
  color: var(--gray-color9);
  font-size: 16px;
  width: 100%;
}
.unit-amount select {
  color: var(--gray-color7);

  font-size: 16px;
}
.add-goal-amount-partial-header {
  font-weight: 600;

  margin-bottom: 10px;
}
.add-goal-amount-partial-unit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.add-goal-item {
  /* width: 100%; */
  border: var(--default-border);
  border-radius: 5px;
  padding: 5px;
}

.partial-complete {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  font-size: 14px;
  color: var(--gray-color6);
}
.add-goal-button {
  font-size: 16px;
  width: 100%;
  height: 30px;
  border: none;
  background-color: var(--main-color4);
  color: var(--gray-color9);
  border-radius: 1000px;
  font-family: var(--header2-font-family);
  color: var(--gray-color0);
}
.add-goal-button:hover {
  background-color: var(--main-color8);
}

.form-required {
  border: 1px solid rgb(221, 65, 65);
  background-color: #ffe8e8;
}

/* ============ At Media ============== */

@media only screen and (max-width: 850px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 13vh 58vh 10vh 6vh;
    grid-template-areas: "title" "days" "habits-div" "notes" "credits";
    padding-left: 0;
  }
  .habits-div {
    grid-template-columns: 1fr;
    grid-auto-rows: 60px 90px;
    overflow: scroll;
  }
  .habit-name {
    padding-left: 20px;
    border-bottom: none;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  .days {
    justify-content: center;
  }
  .habit-name {
    padding-left: 50px;
  }
  .habit-progress {
    justify-content: center;
    @media screen (max-width: $desktop) {
      padding-left: 19px;
    }
  }
  .header-shaddow {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .footer-shaddow {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }
  .credits {
    justify-content: center;
    text-align: center;
  }
  .notes {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .habit-name {
    padding-left: 30px;
  }
  .habits-div {
    grid-auto-rows: 60px 75px;
  }
  .day {
    width: var(--default-size-mobile);
  }

  .circle {
    width: var(--default-size-mobile);
    height: var(--default-size-mobile);
  }
  .note {
    width: var(--default-size-mobile);
  }
  .add-goal-box {
    width: 100%;
    left: 0;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "add-goal-left-container" "add-goal-right-container";
  }
}
