:root {
  /* --responsive-title-color: limegreen; */
  /* --responsive-days-color: greenyellow; */
  --responsive-habits-div-color: #ececec;
  /* --responsive-habit-name-color: lightcoral; */
  /* --responsive-habit-progress-color: lightpink; */
  /* --responsive-credits-color: lightskyblue; */
  --responsive-notes-color: lightcyan;
  --responsive-notes-color: white;

  --column-width: 25vw 75vw;
  --header-font-size: 2rem;
  --header-font-family: "Sansita", sans-serif;
  --header2-font-family: "Roboto", sans-serif;
  --default-opacity: 30%;
  --darker-opacity: 40%;

  --grid-padding-left: 2rem;

  --default-size: 4rem;
  --default-margin: 10px;
}

/* * {
  border: 1px dashed black;
} */

body {
  margin: 0;
  /* background-image: url(images/paper.jpg); */
}

h1 {
  height: var(--header-font-size);
  font-family: var(--header-font-family);
  display: inline-block;
}
p {
  font-family: var(--header2-font-family);
}

.grid-container {
  display: grid;
  grid-template-columns: var(--column-width);
  grid-template-rows: 15vh 70vh 15vh;
  grid-template-areas:
    "title days"
    "habits-div habits-div"
    "credits notes";
}

.icon {
  opacity: var(--default-opacity);
  margin: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  height: 22px;
  position: relative;
  bottom: 2px;
}

/*============== RESPONSIVE DESIGN============== */

.title {
  background-color: var(--responsive-title-color);
  grid-area: title;
  padding-left: var(--grid-padding-left);
  margin-top: auto;
  margin-bottom: auto;
}
.days {
  /* background-color: var(--responsive-days-color); */
  grid-area: days;
  align-items: center;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}
.header-shaddow {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: white;
  filter: drop-shadow(0 5px 5px #c2c2c2);
}
.footer-shaddow {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  background-color: white;
  filter: drop-shadow(0 -5px 5px #c2c2c2);
}

.habits-div {
  background-color: var(--responsive-habits-div-color);
  display: grid;
  grid-template-columns: var(--column-width);
  grid-template-rows: repeat(50, 10vh);
  grid-area: habits-div;
}

.credits {
  background-color: var(--responsive-credits-color);
  opacity: 99%;
  grid-area: credits;
  padding-left: var(--grid-padding-left);
  margin-top: auto;
  margin-bottom: auto;
}
.notes {
  background-color: var(--responsive-notes-color);
  grid-area: notes;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 850px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 13vh 13vh 58vh 10vh 6vh;
    grid-template-areas: "title" "days" "habits-div" "notes" "credits";
    padding-left: 0;
  }
  .habits-div {
    grid-template-columns: 1fr;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  .header-shaddow {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .footer-shaddow {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }
  .credits {
    text-align: center;
  }
}

/*============== Header ============== */
.header-icon {
  height: var(--header-font-size);
}

.title-h1 {
  position: relative;
  bottom: 5px;
}

/*============== Habit Name ============== */
.habit-name {
  background-color: var(--responsive-habit-name-color);
  padding-left: var(--grid-padding-left);
  font-family: var(--header2-font-family);
  display: flex;
  align-items: center;
}

.habit-h1 {
  font-family: var(--header2-font-family);
}

/*============== Habit progress ============== */

.habit-progress {
  background-color: var(--responsive-habit-progress-color);
  overflow: hidden;
}

.circle {
  display: inline-block;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  border: 1px solid black;
}

/*============== Days ============== */
.day {
  text-align: center;
  margin: var(--default-margin);
  width: var(--default-size);
  float: left;
  padding: 1px;
}

.day-h1 {
  font-family: var(--header2-font-family);
  opacity: 99%;
  display: block;
  width: auto;
  margin: auto;
}
.weekday {
  opacity: var(--darker-opacity);
}

.divider-days-weeks {
  width: 3rem;
  margin: 0.5rem;
  border: solid 1px black;
  opacity: var(--darker-opacity);
}

/*============== Notes ============== */
.view-icon {
  width: var(--default-size);
  height: var(--default-size);
  margin: 10px;
  flex-shrink: 0;
}
.note {
  display: inline-block;
  margin: 1px;
  opacity: var(--default-opacity);
}

/*============== Credits ============== */
.credits-font {
  font-size: 12px;
}
